# [sqlclass_db] database와 [world] table 생성하기

- [world] table에 들어갈 text 작업
	- 문자열은 ' '로 감싸기
	- 숫자는 숫자 그대로
	- 예시: 'South Korea', 'Asia', 100210, 50423955, 'Seoul', '.kr'

In [27]:
text = '''Afghanistan, Asia, 652230, 25500100, Kabul, .af
Algeria, Africa, 2381741, 38700000, Algiers, .dz
New Zealand, Oceania, 270467, 4538520, Wellington, .nz
Australia, Oceania, 7692024, 23545500, Canberra, .au
Brazil, South America, 8515767, 202794000, Brasilia, .br
China, Asia, 9596961, 1365370000, Beijing, .cn
India, Asia, 3166414, 1246160000, New Delhi, .in
Russia, Eurasia, 17125242, 146000000, Moscow, .ru
France, Europe, 640679, 65906000, Paris, .fr
Germany, Europe, 357114, 80716000, Berlin, .de
Denmark, Europe, 43094, 5634437, Copenhagen, .dk
Norway, Europe, 323802, 5124383, Oslo, .no
Sweden, Europe, 450295, 9675885, Stockholm, .se
South Korea, Asia, 100210, 50423955, Seoul, .kr
Canada, North America, 9984670, 35427524, Ottawa, .ca
United States, North America, 9826675, 318320000, Washington,D.C., .us
Armenia, Eurasia, 29743, 3017400, Yerevan, .am'''

In [44]:
lines = text.split('\n')
result = []
for line in lines:
	token = line.split(',')
	for t in token:
		try:
			int(t)
		except ValueError:
			t = f'{t}'
			t = t.replace(' ', '')
			result.extend([t])
		else:
			result.extend([t.replace("'", '')])
	result.extend('\n')
print(result)

['Afghanistan', 'Asia', ' 652230', ' 25500100', 'Kabul', '.af', '\n', 'Algeria', 'Africa', ' 2381741', ' 38700000', 'Algiers', '.dz', '\n', 'NewZealand', 'Oceania', ' 270467', ' 4538520', 'Wellington', '.nz', '\n', 'Australia', 'Oceania', ' 7692024', ' 23545500', 'Canberra', '.au', '\n', 'Brazil', 'SouthAmerica', ' 8515767', ' 202794000', 'Brasilia', '.br', '\n', 'China', 'Asia', ' 9596961', ' 1365370000', 'Beijing', '.cn', '\n', 'India', 'Asia', ' 3166414', ' 1246160000', 'NewDelhi', '.in', '\n', 'Russia', 'Eurasia', ' 17125242', ' 146000000', 'Moscow', '.ru', '\n', 'France', 'Europe', ' 640679', ' 65906000', 'Paris', '.fr', '\n', 'Germany', 'Europe', ' 357114', ' 80716000', 'Berlin', '.de', '\n', 'Denmark', 'Europe', ' 43094', ' 5634437', 'Copenhagen', '.dk', '\n', 'Norway', 'Europe', ' 323802', ' 5124383', 'Oslo', '.no', '\n', 'Sweden', 'Europe', ' 450295', ' 9675885', 'Stockholm', '.se', '\n', 'SouthKorea', 'Asia', ' 100210', ' 50423955', 'Seoul', '.kr', '\n', 'Canada', 'NorthAmerica', ' 9984670', ' 35427524', 'Ottawa', '.ca', '\n', 'UnitedStates', 'NorthAmerica', ' 9826675', ' 318320000', 'Washington', 'D.C.', '.us', '\n', 'Armenia', 'Eurasia', ' 29743', ' 3017400', 'Yerevan', '.am', '\n']